<h1>Home</h1>
<p>Angular 2/4 - Animation Tutorial & Example</p>
<div>
  <!-- 1 -->
  <div>
    <label for=""> (1) The Basic Full Calendar </label>
    <ul class="nav nav-tabs">
      <li routerLinkActive="active">
        <a routerLink="/basicFullCalendar1">
            The Basic Full Calendar
        </a>
      </li>
    </ul>
  </div>
  <!-- 2 -->
  <div>
    <label for=""> (2) Navigations Buttons </label>
    <ul class="nav nav-tabs">
      <li routerLinkActive="active">
        <a routerLink="/navigationsButtons2">
            Navigations Buttons
        </a>
      </li>
    </ul>
  </div>

  <!-- 3 -->
  <div>
    <label for=""> (3) Show or Hide Days </label>
    <ul class="nav nav-tabs">
      <li routerLinkActive="active">
        <a routerLink="/showHideDays3">
            Show Hide Days
        </a>
      </li>
    </ul>
  </div>
  <!-- 4 -->
  <div>
    <label for=""> (4) Display Images </label>
    <ul class="nav nav-tabs">
      <li routerLinkActive="active">
        <a routerLink="/displayImages4">
            Display Images
        </a>
      </li>
    </ul>
  </div>
  
  <!-- 5 -->
  <div>
    <label for=""> (5) Managing Events </label>
    <ul class="nav nav-tabs">
      <li routerLinkActive="active">
        <a routerLink="/managingEvents5">
            Managing Events
        </a>
      </li>
    </ul>
  </div>

  <!-- 6 -->
  <div>
    <label for=""> (6) Json Feed </label>
    <ul class="nav nav-tabs">
      <li routerLinkActive="active">
        <a routerLink="/jsonFeed6">
            Json Feed
        </a>
      </li>
    </ul>
  </div>

  <!-- 6 -->
  <div>
    <label for=""> (7) SelectDateTime </label>
    <ul class="nav nav-tabs">
      <li routerLinkActive="active">
        <a routerLink="/selectDateTime">
            SelectDateTime
        </a>
      </li>
    </ul>
  </div>

  <!-- 7 -->
  <div>
    <label for=""> (7) Event Interact </label>
    <ul class="nav nav-tabs">
      <li routerLinkActive="active">
        <a routerLink="/eventInteract">
            Event Interact
        </a>
      </li>
    </ul>
  </div>

  <!-- 8 -->
  <div>
    <label for=""> (8) Modify Events </label>
    <ul class="nav nav-tabs">
      <li routerLinkActive="active">
        <a routerLink="/modifyEvents">
            Modify Events
        </a>
      </li>
    </ul>
  </div>

  <!-- 9 -->
  <div>
    <label for=""> (9) Removing Events </label>
    <ul class="nav nav-tabs">
      <li routerLinkActive="active">
        <a routerLink="/removingEvents">
            Removing Events
        </a>
      </li>
    </ul>
  </div>
  

<!-- end -->
</div>
